
@font-face {
    font-family: 'sf_ui_textsemibold';
    src: url('../fonts/sf-ui-text-semibold-webfont.eot');
    src: url('../fonts/sf-ui-text-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-text-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-semibold-webfont.woff') format('woff'),
         url('../fonts/sf-ui-text-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sf-ui-text-semibold-webfont.svg#sf_ui_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}