

<md-list ng-class="!($ctrl.tasks && $ctrl.tasks.length) && 'hidden'" class="todo-list__items">

    <!--
        <md-subheader class="md-no-sticky todo-list__subheader">Today</md-subheader>
        <div class="todo-list__group">
            <md-list-item class="md-1-line todo-list__item">
                <div class="todo-list__complete">
                    <div class="todo-list__complete-circle" ng-click="null"></div>
                </div>
                <div class="todo-list__item-caption">
                    Create a company Create a company Create a company Create a company Create a company Create a company Create a company Create a company
                </div>
            </md-list-item>
        </div>
        <md-subheader class="md-no-sticky todo-list__subheader">Stories</md-subheader>
        <div class="todo-list__group">
            <md-list-item class="md-1-line todo-list__item">
                <div class="todo-list__complete">
                    <div class="todo-list__complete-circle" ng-click="null"></div>
                </div>
                <div class="todo-list__item-caption">
                    Create a company 2
                </div>
            </md-list-item>
        </div>
        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
        <div class="todo-list__group">
            <md-list-item class="md-1-line todo-list__item">
                <div class="todo-list__complete">
                    <div class="todo-list__complete-circle" ng-click="null"></div>
                </div>
                <div class="todo-list__item-caption">
                    Create a company 3
                </div>
            </md-list-item>
            <md-divider class="todo-list__divider"></md-divider>
            <md-list-item class="md-1-line todo-list__item">
                <div class="todo-list__complete">
                    <div class="todo-list__complete-circle" ng-click="null"></div>
                </div>
                <div class="todo-list__item-caption">
                    Create a company 4
                </div>
            </md-list-item>
        </div>
    -->
</md-list>

<div ng-class="($ctrl.tasks && $ctrl.tasks.length) && 'hidden'"
     class="no-todo"
     layout="column"
     layout-align="center center">
    <div class="icons8-todo-list no-todo__caption-icon"></div>
    <div class="no-todo__caption">
        Have a good day
    </div>
</div>
