

<div class="content-box-hat">
    <div class="content-box">
        <div class="workspace"> <!-- workspace_no-todo -->

            <div class="workspace-inner" layout="column" flex>

                <div class="toolbar">
                    <div class="toolbar__inner">
                        <search-view on-search-query-change="$todo.searchTodoByQuery(searchQuery)"></search-view>
                        <more-menu></more-menu>
                    </div>
                </div>
                <task-list class="workspace-board" flex tasks="$todo.tasks"
                           on-open-task="$todo.openTask(data)"
                           on-complete-task="$todo.completeTask(data)"
                           on-catched-distance-to-bottom="$todo.nextTaskPage()"
                           on-start-creating-task="$todo.openCreateTaskForm()">
                </task-list>
            </div>

        </div>

        <div class="right-col">
            <div class="right-col-inner">
                <profile-info></profile-info>
                <project-list projects="$todo.projects"
                              selected-project="$todo.selectedProject"
                              on-start-adding-project="$todo.openCreateProjectForm()"
                              on-select-project="$todo.selectProject(project)">
                </project-list>
            </div>
        </div>

        <md-sidenav class="md-sidenav-right side-panel" md-component-id="side-panel">
            <div class="side-panel__close-box">
                <md-button ng-click="$todo.closeSidePanel()"
                           class="md-fab side-panel__button"
                           aria-label="Close side panel">
                    <div class="side-panel__button-icon icons8-delete-2"></div>
                    <div>Esc</div>
                </md-button>
            </div>

            <create-project-form is-displayed="$todo.isCreateProjectFormDisplayed" on-submit="$todo.createProject(data)"></create-project-form>
            <edit-project-form project="$todo.selectedProject" is-displayed="$todo.isEditProjectFormDisplayed" on-submit="$todo.editProject(data)"></edit-project-form>
            <create-task-form project="$todo.selectedProject" is-displayed="$todo.isCreateTaskFormDisplayed" on-submit="$todo.createTask(data)"></create-task-form>
            <task-info is-displayed="$todo.isTaskInfoDisplayed" task="$todo.selectedTask" on-delete-task="$todo.deleteTask(task)" on-edit-task="$todo.openEditTaskForm(task)"></task-info>
            <edit-task-form is-displayed="$todo.isEditTaskFormDisplayed" task="$todo.selectedTask" project="$todo.selectedProject" on-submit="$todo.editTask(data)"></edit-task-form>


            <!--

                <div class="create-project-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Create new project
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Project name</label>
                                <input ng-model="$todo.newProjectName">
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.createNewProject()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

                <div class="edit-project-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Edit task
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Task name</label>
                                <input ng-model="$todo.editingProjectName">
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.editProject()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

                <div class="create-task-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Create new task
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Task name</label>
                                <input ng-model="$todo.createTaskName" >
                            </md-input-container>
                            <md-input-container class="side-panel__input">
                                <label>Description</label>
                                <input ng-model="$todo.createTaskDescription" >
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.createNewTask()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

            -->

        </md-sidenav>

    </div>
</div>
<div ng-class="$todo.loaderModificator" class="page-cover_showed page-cover" layout="row" layout-align="center center">
    <md-progress-circular
            md-diameter="60"
            layout-align="center"
            md-mode="indeterminate">
    </md-progress-circular>
</div>